<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		.infocap{
			font-size:10pt;
			font-weight:bold;
			color:Orange;
			vertical-align:middle;
			padding-left:25px;
			line-height:25px;
		}
		
		.daycap{
			font-size:10pt;
			font-weight:bold;
			text-decoration:none;
			color:White;
			padding-left:5px;
			height:30px;
			background:url(/images/panel.png) repeat-x;
			vertical-align:bottom;
		}
		
		
		
	</style>
<head>
	<title>
		WIZ | Ethanol & Biofuels
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:32px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;" class="current_page_item"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Workshop</a></li>
					</ul>
				</div>
			</div>
			
	<div id="divcontent" class="content" style="width:1003px;">
		<div style="width:750px;padding-right:0px;border:inset 0px red;margin-left:130px;" id="content">
			<table cellpadding="0" cellspacing="0" border="1" style="vertical-align:top;">
				<colgroup>
					<col style="width:50%;">
					<col style="width:50%;">
				</colgroup>
          
				<tbody>
					<tr>
						<td style="vertical-align:top;">
						<div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
								<tr><td class="daycap" colspan="2"> Day 1 - [July 8, Wednesday, 2015]</td></tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Novozymes Exclusive Workshop<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red;">
									(Closed Door & Invited Local Phlippine Companies Only)
									</span></br>

									<span style="margin:1px,2px,2px,0px;">
										<img src="/images/nova.jpg">
									</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">13:00</span>
									</td>
								
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Lunch<br></div>
						
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:00</span>
									</td>
								
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Global Trends in Fuel Ethanol Consumption and Implications for Asian Markets<br></div>
									
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Alister Smith, Green Pool Commodity Specialists, Senior Commodity Research
									 Analyst</span></br>
									</td>
								</tr>									
								<tr>
								
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">
									  	14:30
									  </span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">
										Biofuels Policies & Market in the Philippines<br>
									</div>
									 
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">DOE, Philippines</span></br>
									</td>
								</tr>
								<tr>
								
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">
									Bioethanol Production - Its Role in Philippine Rural Development and the Economy (preliminary)
									<br></div>
									 
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Ms. Ma. Regina Bautista-Martin, Administrator of the Sugar Regulatory Administration,Philippines</span></br>

									</td>
								</tr>

								<tr>
								
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:30</span>
									</td>
								
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Bioethanol Production Prospects in Philippines & Investment Opportunities in Asia<br></div>
										 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Job Ambrosio, Ethanol Producers Association of the Philippines (EPAP)</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Cassava Ethanol: Situation Update and Technology in Thailand<br></div>
									   
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Dr. Klanarong Sriroth, Mitr Phol Sugar, Director / Kasetsart University, Associate Professor</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">17:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biofuels Outlook in an Era of Cheap Oil<br></div>
									    <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Impact of cheap oil on the biofuels space over the last 9-10 months</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Strategies biofuels producers have taken to succeed</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Yuan-Sheng Yu, Research Associate, Lux Research Inc.</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">18:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Dinner (Buffet or Plated)<br></div>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
						
						<td style="vertical-align:top;"><div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
									<tr><td class="daycap" colspan="2"> Day 2 - [July 9, Thursday ,2015] &nbsp &nbsp &nbsp</td></tr>
									<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">09:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Domestic Ethanol Supply and Future Export Potential from Thailand<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Many active plants & Few more newcomers & Abundant feedstocks</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Sufficient export infrastructures & Why currently no export from Thailand</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Pipat Suttiwisedsak, Deputy Secretary, Thai Ethanol Manufacturing Association</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biodiesel Supply and Price Trend in Global and Asia market<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Roman Dawidowicz, SCB & Associates</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Ethanol Pricing Options and Optimising Purchases with Emphasis on Fuel Ethanol<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Key price benchmarks for ethanol (all grades) in Asia</span></br>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Price-cost structure for delivered/landed price; how lowest cost supply is identified; netback pricing</span></br>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Cost plus and replacement/market price strategies</span></br>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Analysis of 2015 prices for fuel ethanol in Asia</span></br>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Formula pricing and derivatives; the forward curve</span></br>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* How to secure the best price for any demand period</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Ray Hogger, Solfuels Pte Ltd</span></br>
									</td>
								</tr>								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Potential for Cellulosic Ethanol Developments in the Philippines and Asia Pacific<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Bas Melssen, Director Novozymes Asia Pacific, Biomass Conversion</span></br>
									</td>
								</tr>
														
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Up-to-date Industrial Experience and New Technological Developments from the Brazilian Bioethanol Industry<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Josef Dörfler, Representative for Europe and Asia, Fermentec Ltda. - Piracicaba SP/ Brazil</span></br>
									</td>
								</tr>					
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Panel Discussion: Future Demand Prospects of Industry Ethanol Asian Focus<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* China, ME, India, Pakistan & Far East Asia</span></br>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Brazil’s Role as a Global Ethanol Provider and its Future Development</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Lunch<br></div>
									
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">China Fuel Ethanol Market and Yeast Development in General<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Paul Ren, Sales Manager, China Angel Yeast</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Prospective on India Fuel Ethanol Market<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Raina, Director General, All India Distillers’ Association</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:50</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Unique Fermentation System For Efficient Industrial Production of Ethanol Based on Alternate Raw Materials<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Dr. H.C.Bhandari, M.Sc. Ph.D , Post Doct(Denmark , Japan), MD, Crest Biotech Pvt Ltd</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:15</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:45</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Improving Sustainability of Ethanol Plant<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Yash Mankame, Vice President, Praj Far East Co Ltd</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:15</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Environmental Technologies for Bioethanol Production<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Adnan Abdul Rahman, Senior Manager, Siemens</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">17:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">End of the Conference<br></div>
									
									</td>
								</tr>
								</tbody>
							</table>
						</td>
				  
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
		</div>
	</div>
</div>

 
</body>

</html>