<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		.infocap{
			font-size:10pt;
			font-weight:bold;
			color:Orange;
			vertical-align:middle;
			padding-left:25px;
			line-height:25px;
		}
		
		.daycap{
			font-size:10pt;
			font-weight:bold;
			text-decoration:none;
			color:White;
			padding-left:5px;
			height:30px;
			background:url(/images/panel.png) repeat-x;
			vertical-align:bottom;
		}
		
		
		
	</style>
<head>
	<title>
		WIZ | Ethanol & Biofuels
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:22px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;" class="current_page_item"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			
	<div id="divcontent" class="content" style="width:1003px;">
		<div style="width:750px;padding-right:0px;border:inset 0px red;margin-left:130px;" id="content">
			<table cellpadding="0" cellspacing="0" border="1" style="vertical-align:top;">
				<colgroup>
					<col style="width:50%;">
					<col style="width:50%;">
				</colgroup>
          
				<tbody>
					<tr>
						<td style="vertical-align:top;">
						<div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
								<tr><td class="daycap" colspan="2"> Day 1 - [July 3rd, Thursday, 2014]</td></tr>
								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">08:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Registration<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">08:45</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Opening Remark<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Asian Biofuels Market Overview<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Prospects and challenges of biofuels in Asia</span></br>
									</td>
								</tr>									
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:30</span>
									</td>
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Ethanol Trade Flows and Price Trend in Asia Market<br></div>
									  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Seeking new opportunities in the gradually mature market</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biodiesels Supply and Price Trend in Global and Asia Market<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Palm oil supply and demand: growth expected in Asia</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Molasses Supply and Price Trend<br></div>
										  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Molasses supply, demand and pricing outlook 2014</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Cassava Supply for Ethanol Production<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Situation in Indonesia/ Thailand/ Vietnam</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Lunch<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Opportunities and Challenges for Coal/AA to Ethanol Production in Asia<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Will Coal-to-ethanol become a near-term winner in Asia?</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Current Situation for Coal-to-ethanol Production</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Indonesia’s Potential for coal-to-ethanol</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Potential of Pakistan Continues Ethanol Supply to Asia<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* How Pakistan compete with other supply</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* New ethanol projects and developments of more mills expanding to ethanol production</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Update on Ethanol Supply and Biofuels for Thailand<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Thai potential to export ethanol considerably in Asia</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Opportunity to increase the supply of ethanol in Thailand</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biodiesel Supply and Demand in Indonesia<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Palm oil supply and demand: growth expected</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* How Indonesia is going to meet 2014 biodiesel mandate</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Increased demand from the US, South Korea, China and Australia</span></br>
									</td>
								</tr>		
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Promoting a Sustainable Ethanol Industry in Australia<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Australian petroleum market and policy development</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Ethanol production and occasional supply to Aisa</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Terminal blending facilities and tank upgrades and new investment</span></br>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
						
						<td style="vertical-align:top;"><div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
									<tr><td class="daycap" colspan="2"> Day 2 - [July 4th, Friday ,2014] &nbsp &nbsp &nbsp</td></tr>
									<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">09:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Prospective on India Fuel Ethanol Market<br></div>
										<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Ethanol supply and demand outlook</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Implementing ethanol blending E5 in India</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biofuels Demand and Trading Situation in Middle East Area<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Iran ethanol and biodiesel projects</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Biofuels demand and trading situation in Middle East area</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Philippines Ethanol Production and Mandates Implementation<br></div>
									  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* New investment and new projects</span></br>
									  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Favorable feedstock of biofuel to meet blending mandates</span></br>
									</td>
								</tr>								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Plan for Implementation of Aviation Biofuel in Asia<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Current situation, major issues and prospects for aviation biofuel</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Indonesia’s proposed mandate of 2% blend of biojet fuel </span></br>
									</td>
								</tr>		
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Potential of Biofuels for Shipping<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Current marine fuel market</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Potential of biofuels to replace fossil fuels in ships</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Final Speech Order Will be Adjusted</span></br>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Lunch<br></div>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
				  
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
		</div>
	</div>
</div>

 
</body>

</html>