<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		.infocap{
			font-size:10pt;
			font-weight:bold;
			color:Orange;
			vertical-align:middle;
			padding-left:25px;
			line-height:25px;
		}
		
		.daycap{
			font-size:10pt;
			font-weight:bold;
			text-decoration:none;
			color:White;
			padding-left:5px;
			height:30px;
			background:url(/images/panel.png) repeat-x;
			vertical-align:bottom;
		}
		
		
		
	</style>
<head>
	<title>
		WIZ | Ethanol & Biofuels
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:32px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;" class="current_page_item"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			
	<div id="divcontent" class="content" style="width:1003px;">
		<div style="width:750px;padding-right:0px;border:inset 0px red;margin-left:130px;" id="content">
			<table cellpadding="0" cellspacing="0" border="1" style="vertical-align:top;">
				<colgroup>
					<col style="width:50%;">
					<col style="width:50%;">
				</colgroup>
          
				<tbody>
					<tr>
						<td style="vertical-align:top;">
						<div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
								<tr><td class="daycap" colspan="2"> Day 1 - [July 8, Wednesday, 2015]</td></tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">08:45</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Opening Remark<br></div>
									</td>
								</tr>
								<tr>
								
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:00</span>
									</td>
								
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biofuel Supply and Price Trend in Global and Asia Market<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Evaluating key trends in fuel ethanol consumption in major global markets in the US, Brazil, and European</span></br>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Examining the implications for Asian ethanol markets</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Alister Smith, Green Pool Commodity Specialists, Senior Commodity Research Analyst	</span></br>

									</td>
 									
								</tr>									
								<tr>
								
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Aiming High: The US Ethanol Going Globally<br></div>
									  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* 2015 US ethanol production forecast</span></br>
									  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Statistical Summary for Ethanol Exports and Imports</span></br>
									</td>
								</tr>
								<tr>
								
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Brazil’s Role as a Global Ethanol Provider<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Future Development of providing domestic blend usage and international chemical markets</span></br>
									</td>
								</tr>
								<tr>
								
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:30</span>
									</td>
								
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Biofuels Policies & Market in the Philippines<br></div>
										  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* E10 implementation at this moment and Future Plan of E20</span></br>
										  <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Local Monthly Allocation Expectation 2015</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">11:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Bioethanol Technologies and Production Prospects in Philippines<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Shipping, logistics and ports Situation of Philippines with expansion of production</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Chairman of Independent Philippine Petroleum Companies Association</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Bioethanol Production - Its Role in Philippine Rural Development and the Economy <br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Ms. Ma. Regina Bautista-Martin, Administrator of the Sugar Regulatory Administration, Philippines </span></br>
									</td>
								</tr>		
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Buffet Lunch<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Asia Sugar Balance and Trade Flow<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Challenges and opportunities of ASEAN Integration in 2015</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">14:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Assessing the Availability and Price of Molasses<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Molasses supply for ethanol productions</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Status of Cassava in SEA: Implications for Future Market Development<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Supply & Demand for Tapioca in SEA Region</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Sustainable Supply of Tapioca for Ethanol Production</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">15:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">PANEL DISCUSSION: Feedstock Available Development and Biorefineries Integration in Asia<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Exploring the market potential in Asia of converting a broad range of feedstocks into commercially biofuels and bioenergy.</span></br> 
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Examining new technologies and various feedstock available in the region</span></br>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Coffee Break<br></div>
									</td>
								</tr>		
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">16:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Domestic Ethanol Supply and Future Export Potential from Thailand <br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Thailand Ethanol Supply & Demand Forecast</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Update on Thailand E20 & E85 Consumption Trend</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* How to maintain the price gap between ethanol and gasoline despite falling oil price</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr.Pipat Suttiwisedsak, Deputy Secretary of Thai Ethanol Manufacturing Association (TEMA)</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">17:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Current State of Pakistan’s Ethanol Industry and its Future Prospects<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Outlook for production capacity</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Survive under insufficient feedstock supply</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Feasibility for New Export Destination</span></br>
									</td>
								</tr>	
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">17:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">India Fuel Blending: Impact of E5 Mandate in India on the International Ethanol Markets<br></div>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Key factors of Indian sugar & ethanol Industry</span></br>
									   <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Regulation and implementation of ethanol blending in India</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">18:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Dinner<br></div>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
						
						<td style="vertical-align:top;"><div style="padding-right:1px;padding-left:1px;">
							<table border="0">
								<tbody>
									<tr><td class="daycap" colspan="2"> Day 2 - [July 9, Thursday ,2015] &nbsp &nbsp &nbsp</td></tr>
									<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold;">09:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Environmental Technologies for Bioethanol Production<br></div>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">*  How to maximizing distillation efficiency</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* Focusing more on the solution for Ethanol Automation</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Adnan Abdul Rahman, Senior Manager, Siemens</span></br>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">09:30</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Opportunities in 2G Ethanol / Cellulosic Ethanol in Asia Pacific<br></div>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">10:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Improving Sustainability of Ethanol Plant with Reducing Water and Energy Use<br></div>
									<span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;">* How existing ethanol plants can move towards reducing water and energy footprints</span></br>
									 <span style="font-size:10px;text-align:left;margin:1px,2px,2px,0px;color:red !important;font-weight:bold;">Mr. Yash Mankame, Vice President, Praj Far East Co Ltd.</span></br>
									</td>
								</tr>								
								<tr>
									<td style="text-align:right;padding-left:10px;vertical-align:top;padding-right:10px;padding-top:5px;">
									  <span style="font-size:10px;font-weight:bold">12:00</span>
									</td>
									
									<td style="padding-top:5px;" colspan="0"><div style="font-size:12px;font-weight:bold;vertical-align:top;text-align:left;">Lunch<br></div>
									</td>
								</tr>
								
								</tbody>
							</table>
						</td>
				  
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
		</div>
	</div>
</div>

 
</body>

</html>