<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		a:link { 
			color:red; 
			text-decoration:underline; 
		} 
		a:visited { 
			color:blue; 
			text-decoration:none; 
		} 
		a:hover { 
			color:red; 
			text-decoration:none; 
		} 
		a:active { 
			color:#FFFFFF; 
			text-decoration:none; 
		} 
	</style>
<head>
	<title>
		WIZ | Ethanol & Biofuels
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:22px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;" class="current_page_item"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;"><a href="/sponsor">Sponsor</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" class="content" style="width:1003px;">
				<div style="float:left;width:50%;">
				<table border="0" align="left">
					<tbody>
						<tr>
							<td style="vertical-align:top;">
								<div style="width:785px;padding-right:0px;" id="content">
									<div style=" float:left; width:100%; background-color:#FFFFFF; margin-bottom:12px;">
										 <div style="float:left; width:600px; text-align:left; background-color:#FFFFFF; overflow:hidden;" align="left"> 
											 <span style="font-size:15px;font-weight:bold; color:red;text-align:left;">Ethanol & Biofuels Asia Conference</span><br>
											 <span style="font-size:13px;">3-4 July, 2014<br></span>
											 <span style="font-size:13px;">Jarkata, Indonesia<br></span>
										 </div>
									</div>
								</div>
							</td>
						</tr>
						<tr >
							<td style="vertical-align:top;">
								<div style="margin-left:40px;">
									<span style="font-size:17px;font-weight:bold;margin-left:15px;"><u>Welcome to the Ethanol & Biofuels Asia Conference</u></span>
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align:top;">
								<div style="margin-left:20px;">
									<span style="font-size:12px;text-align:left;">
										It is the pleasure and honor of Wiz Biz Company to invite you to the Ethanol & Biofuels Aisa 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										2014 conference in Jarkata, Indonesia in July 2014.
									</span> </br>
								</div>
							</td>
						</tr>	
						<tr><td></td></tr>
						<tr>
							<td style="vertical-align:top;">
								<div style="margin-left:20px;">
									<span style="font-size:12px;text-align:left;">
										Asia continues to face challenges and opportunities related to energy and environmental 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										issues. Sustainability prospects of different biofuels in Asia need careful evaluation 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										in order to realize full potential and benefit of biofuels. 
									</span> </br>
								</div>
							</td>
						</tr>
						<tr><td></td></tr>
						<tr>
							<td style="vertical-align:top;">
								<div style="margin-left:20px;">
									<span style="font-size:12px;text-align:left;">
										Demand Changes in Asia. Biofuel mandates and consumption in the transportation, industry  
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										and electricity sector are expected to increase. The conference program will cover all matters   
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										concerning development of biofuels in Asia, including ethanol and biodiesel production and  
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										trading, feedstock supply and price trends, and biofuels mandate implementation, as far as 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										possible, through interaction, discussion and presentations. 
									</span>
								</div>
							</td>
						</tr>
						<tr><td></td></tr>
						<tr>
							<td style="vertical-align:top;">
								<div style="margin-left:20px;">
									<span style="font-size:12px;text-align:left;">
										Development and situation varies significantly from country to country and from year to year.   
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										We are expecting participants of all related players from Indonesia, Thailand, Vietnam,    
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										Philippines, Malaysia, Singapore, Australia, New Zealand, India, Pakistan, UAE, Iran, Japan,  
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										Korea, and China and all over the world. WIZ’s Ethanol & Biofuels Asia Conference will 
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										provide a platform for the communication and networking among this industry in Asia for both  
									</span> </br>
									<span style="font-size:12px;text-align:left;">
										technical and commercial issues.  
									</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<div style="float:left;width:40%;margin-left:12px;">
					<table border="0" >
						<tbody>
							<tr>
								<td style="vertical-align:top;">
									<div style="margin-top:68px;margin-left:150px;">
										<span style="font-size:17px;color:red;font-weight:bold;text-align:left;">Highlights</span>
									</div>
								</td>
							</tr>
								<tr>
								<td style="vertical-align:top;">
									<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											* Ethanol Trade Flows and Price Trend in Asia and Global Market 
										</span> 
									</div>
								</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												* Ethanol Feedstock Availability and Price Trend in Asia Market  
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												* Latest Effluent Treatment Technologies in Ethanol Production
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												* Biodiesels Trading and Demand Growth in Potential Asia Market 
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											* Advanced Biofuels Development in Automobiles and Aviation
										</span> </br>
											</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											* Government Mandates Policy and Implementation in Biofuels
										</span> </br>
											</div>
									</td>
								</tr>
								</td>
							</tr>
						
							<tr>
								<td style="vertical-align:top;">
									<div style="margin-top:0px;margin-left:60px;">
										<span style="font-size:17px;color:red;font-weight:bold;">Who Will Attend</span>
									</div>
								</td>
							</tr>
								<tr>
								<td style="vertical-align:top;">
									<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											* Producers & Refiners & End Users 
										</span> 
									</div>
								</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												* Ethanol & Biodiesel Traders & Brokers 
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												* Feedstock’ Producers & Suppliers
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
											<span style="font-size:12px;text-align:left;">
												* Government Officials & Associations 
											</span> </br>
										</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											* Transportation & Logistics Providers
										</span> </br>
											</div>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											* Engineering & Inspection Providers
										</span> </br>
											</div>
									</td>
								</tr>		
								<tr>
									<td style="vertical-align:top;">
										<div style="margin-left:20px;">
										<span style="font-size:12px;text-align:left;">
											* Financial and Professional Services
										</span> </br>
											</div>
									</td>
								</tr>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
	
			<div style="padding-top:10x;padding-bottom:12px;">		
				<div style="height:2px;"></div>
			</div>		
			<div class="content" style="width:943px;padding-left:30px;padding-right:30px;">
				<div class="feedTitle">Company introduction</div>
				<div class="feedTitle1">Posted on : 11 April, 2014 <br></div></br>
				<div style="background-color:#f5f4f3;">
				<span>
					<a href="http://wiz-biz.com" title="Wiz Business"  target="_blank">WIZ Business</a> is committed to providing highly informative conference, professional training, factory visit and other customized activities for corporate clients all over the world.
				</span></br>
				<span>
				 WIZ Business was set up in Hong Kong to be closer to the fast growing Asian markets and Shanghai office opened its doors as a gateway to China. 
				</span></br></br>
				<span>
				We recognize the importance of networking and information for our clients, and aim to hold our events conducive to your business. High quality analysis, precise insights and strategic directions are designed by extensive research, industrial experts and business leaders in all the commodities area including chemicals, food, alternative energy and etc.
				</span></br></br>
				<span>
				Our services will not only be provided during the events, but also before the events and after the events continuously. Besides, we are extremely good at providing international services and insights with local presence to the industry and your business.
				</span></br></br>
				<span>
				We provide the ideal platform for your company to promote your products and services, establish your brand, build new business relationship and secure your position as a leader in the industry in a cost-effective way. 
				</span></br></br>
				<span>
				Becoming a delegate, speaker or sponsor of WIZ conference gives you the opportunity to reach industry decision makers along the entire value chain. We can also offer sponsorship opportunities meeting individual requirements and budget. Please contact us and we can customize your ideas to suit your objective.
				</span></br></br>
				</p>
				</div>
			</div>

		</div>
	</div>


 
</body>

</html>