<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
	
	</style>
<head>
	<title>
		WIZ | Ethanol & Biofuels
	</title>
	<style type="text/css">
		.my-title{
			text-align: center;
		}

		.second-title{
			font-weight: bold;
		}
	</style>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:32px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">About Event</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Event Agenda</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Speaker Profile</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
						<li style="width:85px;background-color:#222222;" class="current_page_item"><a href="/sponsor">Workshop</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" class="content" style="width:1003px;height:auto;background-color:#f5f4f3;">
				<div style="float:left;width:100%;">
					<table border="0" align="left">
						<tbody>
							<tr>
								<td style="vertical-align:top;">
									<div style="width:785px;padding-right:0px;" id="content">
										<div style=" float:left; width:100%; margin-bottom:12px;">
											 <div style="float:left; width:600px; text-align:left; overflow:hidden;" align="left"> 
												 <span style="font-size:15px;font-weight:bold; color:red;text-align:left;">Ethanol & Biofuels Asia Conference, July 8-9, 2015,Manila Philippines<br></span>
											 </div>
										</div>
									</div>
								</td>
							</tr>
						
						</tbody>
					</table>
				</div>

				<div id="_wor_shop" style="margin-left:20px;margin-right:20px;">
					<h3 class= "my-title" style="font-size:1.5em;">
						Novozymes Exclusive Workshop Invitation
					</h3>
					<h4 class="my-title">
						Ethanol & Biofuels Manila 2015
					</h4>
					<p>
						<span class="second-title">Workshop Date:</span>
						<span>9am - 1pm,July 8</span>
					</p>
					<p>
						<span class="second-title">Vanue:</span>
						<span>Pan Pacific Manila Hotel</span>
					</p>
					<p>
						<span class="second-title">Workshop Theme</span>
						</br>
						<span>
						Novozymes to address key issues and concerns of Philippines based ethanol industry stakeholders with specific messaging for ethanol producers, petroleum companies, sugar industry delegates, PH
						government officials, NGOs such as the ADB.
						</span>
					</p>
					<p>
						<span class="second-title">
							Workshop Highlights
						</span>
						<ul>
							<li>Introduction to 2G ethanol : The role of biomass and yeast in 2G ethanol production</li>
							<li>Opportunities to develop 2G ethanol in the Philippines</li>
							<li>Case study on successful operational sugarcane waste to ethanol commercial scale projects</li>
							<li>Commercial + Technical presentation on C5 yeast</li>
							<li>Panel discussion for the floor: Next steps to develop 2G projects in the Philippines</li>
						</ul>
					</p>
					<p>
						<span class="second-title">
							Who will be invited
						</span>
						<ul>
							<li>Philippines based ethanol producers, Petroleum companies</li>
							<li>PH government officials, NGOs such as the ADB</li>
							<li>ADB, Danish Embassy, IFU, PH debt financing companies , Equity providers</li>
						</ul>
					</p>
					<p>
						<span class="second-title">Novozymes -- Lead and Anchor Sponsor</span>
						<ul>
							<li>Novozymes is leading global 2G ethanol solutions company and Philippines has opportunity to meet its growing ethanol blending mandates with 2G ethanol</li>
							<li>Novozymes to have Asia Pacific launch of C5 yeast platform to optimize ethanol production at Wiz-Biz conference</li>
							<li>Novozymes supplies enzymes to 4 of 5 commercial scale operating 2G projects world wide - Key insights on how to implement 2G ethanol projects in Philippines</li>
							<li>Case study on the world’s only commercial scale and operational sugarcane waste to ethanol projects ( relevant as sugar is the main agricultural crop in Philippines )</li>
							<li>Philippines based NGOs, such as the Asia Development Bank (ADB) , are looking to work with Novozymes to develop 2G ethanol projects in Philippines For</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>


 
</body>

</html>